In [1]:
# IMPORTING BASE LIBRARIES

import warnings
warnings.filterwarnings("ignore")

import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
# READING THE DATA

data = pd.read_csv("C:\\Users\\AM3855\Desktop\\train_s3_e14.csv")
test = pd.read_csv("C:\\Users\\AM3855\Desktop\\test_s3_e14.csv")

In [12]:
# EVALUATING DATA

data.head(5)

,id,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds,yield
0,0,25.0,0.50,0.25,0.75,0.50,69.7,42.1,58.2,50.2,24.3,41.2,24.0,0.39,0.425011,0.417545,32.460887,4476.81146
1,1,25.0,0.50,0.25,0.50,0.50,69.7,42.1,58.2,50.2,24.3,41.2,24.0,0.39,0.444908,0.422051,33.858317,5548.12201
2,2,12.5,0.25,0.25,0.63,0.63,86.0,52.0,71.9,62.0,30.0,50.8,24.0,0.39,0.552927,0.470853,38.341781,6869.77760
3,3,12.5,0.25,0.25,0.63,0.50,77.4,46.8,64.7,55.8,27.0,45.8,24.0,0.39,0.565976,0.478137,39.467561,6880.77590
4,4,25.0,0.50,0.25,0.63,0.63,77.4,46.8,64.7,55.8,27.0,45.8,24.0,0.39,0.579677,0.494165,40.484512,7479.93417

In [13]:
# DELETING 'ID' FROM DATA AS WE DON'T NEED IT

data = data.drop('id', axis = 1)

In [14]:
# CHECKING NO. OF ROWS AND COLS IN DATA

data.shape

(15289, 17)

In [15]:
# CHECKING DATATYPE AND BASIC INFO OF DATA

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15289 entries, 0 to 15288
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   clonesize             15289 non-null  float64
 1   honeybee              15289 non-null  float64
 2   bumbles               15289 non-null  float64
 3   andrena               15289 non-null  float64
 4   osmia                 15289 non-null  float64
 5   MaxOfUpperTRange      15289 non-null  float64
 6   MinOfUpperTRange      15289 non-null  float64
 7   AverageOfUpperTRange  15289 non-null  float64
 8   MaxOfLowerTRange      15289 non-null  float64
 9   MinOfLowerTRange      15289 non-null  float64
 10  AverageOfLowerTRange  15289 non-null  float64
 11  RainingDays           15289 non-null  float64
 12  AverageRainingDays    15289 non-null  float64
 13  fruitset              15289 non-null  float64
 14  fruitmass             15289 non-null  float64
 15  seeds                 15289 non-null  float64
 16  yield                 15289 non-null  float64
dtypes: float64(17)
memory usage: 2.0 MB

In [16]:
# CHECKING NO. OF UNIQUE VALUES TO JUDGE WHETHER VARIABLES ARE CATEGORICAL OR CONTINOUS

data.nunique()

clonesize                  6
honeybee                   7
bumbles                   11
andrena                   16
osmia                     14
MaxOfUpperTRange           6
MinOfUpperTRange           5
AverageOfUpperTRange       5
MaxOfLowerTRange           6
MinOfLowerTRange           7
AverageOfLowerTRange       5
RainingDays                6
AverageRainingDays         8
fruitset                1525
fruitmass               1515
seeds                   2066
yield                    776
dtype: int64

In [ ]:
'''
Cateogrical Variables -> clonesize, honeybee, bumbles, andrena, osmia, MaxOfUpperTRange, MinOfUpperTRange, AverageOfUpperTRange, MaxOfLowerTRange, MinOfLowerTRange, AverageOfLowerTRange, RainingDays, AverageRainingDays
Continous Variables -> fruitset, fruitmass, seeds
'''

In [17]:
# CHECK NUMBER OF NA VALS. IN THE FEATURES

data.isna().sum()

clonesize               0
honeybee                0
bumbles                 0
andrena                 0
osmia                   0
MaxOfUpperTRange        0
MinOfUpperTRange        0
AverageOfUpperTRange    0
MaxOfLowerTRange        0
MinOfLowerTRange        0
AverageOfLowerTRange    0
RainingDays             0
AverageRainingDays      0
fruitset                0
fruitmass               0
seeds                   0
yield                   0
dtype: int64

In [18]:
# CHECKING BASIC STATISTICS ABOUT VARIABLES

data.describe()

,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds,yield
count,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000
mean,19.704690,0.389314,0.286768,0.492675,0.592355,82.169887,49.673281,68.656256,59.229538,28.660553,48.568500,18.660865,0.324176,0.502741,0.446553,36.164950,6025.193999
std,6.595211,0.361643,0.059917,0.148115,0.139489,9.146703,5.546405,7.641807,6.610640,3.195367,5.390545,11.657582,0.163905,0.074390,0.037035,4.031087,1337.056850
min,10.000000,0.000000,0.000000,0.000000,0.000000,69.700000,39.000000,58.200000,50.200000,24.300000,41.200000,1.000000,0.060000,0.192732,0.311921,22.079199,1945.530610
25%,12.500000,0.250000,0.250000,0.380000,0.500000,77.400000,46.800000,64.700000,55.800000,27.000000,45.800000,16.000000,0.260000,0.458246,0.419216,33.232449,5128.163510
50%,25.000000,0.500000,0.250000,0.500000,0.630000,86.000000,52.000000,71.900000,62.000000,30.000000,50.800000,16.000000,0.260000,0.506600,0.446570,36.040675,6117.475900
75%,25.000000,0.500000,0.380000,0.630000,0.750000,86.000000,52.000000,71.900000,62.000000,30.000000,50.800000,24.000000,0.390000,0.560445,0.474134,39.158238,7019.694380
max,40.000000,18.430000,0.585000,0.750000,0.750000,94.600000,57.200000,79.000000,68.200000,33.000000,55.900000,34.000000,0.560000,0.652144,0.535660,46.585105,8969.401840

In [19]:
# CHECKING NUMBER OF OUTLIERS IN THE TARGET VARIABLE

median = np.median(data['yield'])
q1, q3 = np.percentile(data['yield'], [25, 75])
iqr = q3 - q1

upper_bound = median + 1.5*iqr
lower_bound = median - 1.5*iqr

num_outliers = np.sum((data['yield'] < lower_bound) | (data['yield'] > upper_bound))
num_outliers

355

In [20]:
# BECAUSE OF LARGE NUMBER OF OUTLIERS, REMOVING OUTLIERS IS A BAD IDEA AS IT MAY CONTAIN IMPORTANT INFORMATION THUS ITS BETTER TO REPLACE TOP 5 AND LOWER 5 PERCENT VALUES

def replace_percentiles(column):
    
    p5 = np.percentile(column, 5)
    p95 = np.percentile(column, 95)
   
    is_top = column > np.percentile(column, 95)
    is_bottom = column < np.percentile(column, 5)
    
    column.loc[is_top] = p95
    column.loc[is_bottom] = p5
    
    return column

replace_percentiles(data['fruitset'])
replace_percentiles(data['fruitmass'])
replace_percentiles(data['yield'])
replace_percentiles(data['seeds'])
replace_percentiles(test['fruitset'])
replace_percentiles(test['fruitmass'])
replace_percentiles(test['seeds'])

0        31.394569
1        36.846956
2        40.037644
3        33.116091
4        29.761016
           ...
10189    34.525258
10190    35.648221
10191    37.724724
10192    31.881847
10193    40.265408
Name: seeds, Length: 10194, dtype: float64

In [21]:
# FREQUENCY ENCODING THE CATEGORICAL VARIABLES AS NO. OF CLASSES IS HIGH

def frequency_encode_columns(data, cols):
    for col in cols:
        freq = data[col].value_counts(normalize=True)
        data[col] = data[col].map(freq)
    return data

# Applying frequency encoding to the 'data' and 'test' dataframes
data = frequency_encode_columns(data,['clonesize','honeybee','bumbles','andrena','osmia','MaxOfUpperTRange','MinOfUpperTRange','AverageOfUpperTRange','MaxOfLowerTRange','MinOfLowerTRange','AverageOfLowerTRange','RainingDays','AverageRainingDays'])
test = frequency_encode_columns(test,['clonesize','honeybee','bumbles','andrena','osmia','MaxOfUpperTRange','MinOfUpperTRange','AverageOfUpperTRange','MaxOfLowerTRange','MinOfLowerTRange','AverageOfLowerTRange','RainingDays','AverageRainingDays'])

In [22]:
# CHECKING DATA AFTER ENCODING CATEGORICAL VARIABLES

data.head()

,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds,yield
0,0.539277,0.512264,0.710053,0.119563,0.307345,0.233109,0.232978,0.233109,0.233043,0.233109,0.233109,0.250965,0.250965,0.425011,0.417545,32.460887,4476.81146
1,0.539277,0.512264,0.710053,0.272418,0.307345,0.233109,0.232978,0.233109,0.233043,0.233109,0.233109,0.250965,0.250965,0.444908,0.422051,33.858317,5548.12201
2,0.439335,0.476486,0.710053,0.198967,0.311531,0.274707,0.274707,0.274707,0.274642,0.274642,0.274707,0.250965,0.250965,0.552927,0.470853,38.341781,6869.77760
3,0.439335,0.476486,0.710053,0.198967,0.307345,0.247760,0.247760,0.247694,0.247694,0.247694,0.247694,0.250965,0.250965,0.565976,0.478137,39.467561,6880.77590
4,0.539277,0.512264,0.710053,0.198967,0.311531,0.247760,0.247760,0.247694,0.247694,0.247694,0.247694,0.250965,0.250965,0.579677,0.494165,40.484512,7479.93417

In [23]:
# NORMALIZING CONTINOUS VARIABLES

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
continuous_cols = ['fruitset', 'fruitmass', 'seeds']

for col in continuous_cols:
    data[col] = scaler.fit_transform(data[[col]])
    test[col] = scaler.fit_transform(test[[col]])

In [24]:
# CHECKING RESULT AFTER DATA NORMALIZATION

data.head()

,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds,yield
0,0.539277,0.512264,0.710053,0.119563,0.307345,0.233109,0.232978,0.233109,0.233043,0.233109,0.233109,0.250965,0.250965,0.204866,0.249408,0.203904,4476.81146
1,0.539277,0.512264,0.710053,0.272418,0.307345,0.233109,0.232978,0.233109,0.233043,0.233109,0.233109,0.250965,0.250965,0.289190,0.288136,0.310122,5548.12201
2,0.439335,0.476486,0.710053,0.198967,0.311531,0.274707,0.274707,0.274707,0.274642,0.274642,0.274707,0.250965,0.250965,0.746967,0.707569,0.650908,6869.77760
3,0.439335,0.476486,0.710053,0.198967,0.307345,0.247760,0.247760,0.247694,0.247694,0.247694,0.247694,0.250965,0.250965,0.802270,0.770170,0.736478,6880.77590
4,0.539277,0.512264,0.710053,0.198967,0.311531,0.247760,0.247760,0.247694,0.247694,0.247694,0.247694,0.250965,0.250965,0.860331,0.907927,0.813776,7479.93417

In [26]:
# CREATING BINS FOR CONTINOUS VARIABLES 

from sklearn.preprocessing import KBinsDiscretizer

discretizer = KBinsDiscretizer(n_bins=10, encode='ordinal', strategy='uniform')

continous_cols = ['fruitset', 'fruitmass', 'seeds']

for col in continous_cols:
    col_data = data[col].values.reshape(-1, 1)
    test_col_data= test[col].values.reshape(-1,1)
    
    col_discretized = discretizer.fit_transform(col_data)
    test_col_discretised = discretizer.fit_transform(test_col_data)
    
    col_discretized = pd.DataFrame(col_discretized, columns=[col])
    test_col_discretised = pd.DataFrame(test_col_discretised, columns=[col])
    
    data[col] = np.ravel(col_discretized)
    test[col] = np.ravel(test_col_discretised)

In [27]:
# SEPERATE OUT X AND Y (FEATURES AND TARGET)

y = data['yield']
x = data.drop('yield', axis = 1)

In [32]:
# CHECKING OUT THE FEATURES AFTER THE PREPROCESSING

x.head()

,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds
0,0.539277,0.512264,0.710053,0.119563,0.307345,0.233109,0.232978,0.233109,0.233043,0.233109,0.233109,0.250965,0.250965,2.0,2.0,2.0
1,0.539277,0.512264,0.710053,0.272418,0.307345,0.233109,0.232978,0.233109,0.233043,0.233109,0.233109,0.250965,0.250965,2.0,2.0,3.0
2,0.439335,0.476486,0.710053,0.198967,0.311531,0.274707,0.274707,0.274707,0.274642,0.274642,0.274707,0.250965,0.250965,7.0,7.0,6.0
3,0.439335,0.476486,0.710053,0.198967,0.307345,0.247760,0.247760,0.247694,0.247694,0.247694,0.247694,0.250965,0.250965,8.0,7.0,7.0
4,0.539277,0.512264,0.710053,0.198967,0.311531,0.247760,0.247760,0.247694,0.247694,0.247694,0.247694,0.250965,0.250965,8.0,9.0,8.0

In [31]:
# CHECKING OUT THE TARGET

y[:5]

0    4476.81146
1    5548.12201
2    6869.77760
3    6880.77590
4    7479.93417
Name: yield, dtype: float64

In [33]:
# CHECKING MEAN AND SD OF TARGET 

target_mean = y.mean()
target_std = y.std()

print("Mean of target variable: ", target_mean)
print("Standard deviation of target variable: ", target_std)

Mean of target variable:  6035.638365348944
Standard deviation of target variable:  1254.9913690364776